[Unit]
Description=Service for launch mopidy songs using a barcode scanner
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python3 /home/pi/musicbox/code/barcode_player.py
StandardInput=tty-force
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target